---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import type { Lang } from '../data/i18n';

interface Props {
  lang: Lang;
  title: string;
  description: string;
  image?: string;
  wideContent?: boolean;
  showDefaultImage?: boolean;
}

const { lang, title, description, image, wideContent = false, showDefaultImage = true } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead 
      title={title} 
      description={description} 
      image={image} 
      lang={lang} 
      showDefaultImage={showDefaultImage} 
    />
  </head>
  <body>
    <Header lang={lang} />
    <main class:list={[{ wide: wideContent }]}>
      <slot />
    </main>
    <Footer lang={lang} />
  </body>
</html>

<style>
  main.wide {
    max-width: var(--max-w-wide);
  }
</style>
